.git
.gitignore
.vs
.vscode
*.user
*.suo
**/bin
**/obj
**/out
**/packages
**/*.md
**/.dockerignore
**/Dockerfile*
**/Dockerfile
*.log
**/TestResults
**/.idea
**/node_modules
.env
.env.*
*.db
*.db-shm
*.db-wal
